<%= form_with(model: content_type, local: true) do |form| %>
  <% if content_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_type.errors.count, "error") %> prohibited this content_type from being saved:</h2>

      <ul>
      <% content_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_name %>
    <%= form.text_field :type_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
