
<h1><%= @event.title %></h1>

<div class="calendar_row">

  <div class="date-range">

    <div class="calendar-block cb-inline">
      <div class="calendar_month"><%= @event.start_time.strftime('%b') %></div>
      <div class="calendar_day"><%= @event.start_time.strftime('%A') %></div>
      <div class="calendar_date"><%= @event.start_time.strftime('%d') %></div>
      <div class="calendar_time"><%= @event.start_time.strftime('%H:%M') %></div>
    </div>
-
    <div class="calendar-block cb-inline">
      <div class="calendar_month"><%= @event.end_time.strftime('%b') %></div>
      <div class="calendar_day"><%= @event.end_time.strftime('%A') %></div>
      <div class="calendar_date"><%= @event.end_time.strftime('%d') %></div>
      <div class="calendar_time"><%= @event.end_time.strftime('%H:%M') %></div>
    </div>

  </div>

</div>


<p>
  <strong>Location:</strong>
  <%= markdown @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= markdown @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
