<%= form_with(model: right, local: true) do |form| %>
  <% if right.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(right.errors.count, "error") %> prohibited this right from being saved:</h2>

      <ul>
      <% right.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :resource %>
    <%= form.text_field :resource %>
  </div>

  <div class="field">
    <%= form.label :operation %>
    <%= form.text_field :operation %>
  </div>

  <div class="actions">
    <%= form.submit:data => { :disable_with => "Submitting ..." }, :class => "btn-default btn1" %>
  </div>
<% end %>
