<p id="notice"><%= notice %></p>

<p>
  <strong>Resource:</strong>
  <%= @right.resource %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @right.operation %>
</p>

<%= link_to 'Edit', edit_right_path(@right) %> |
<%= link_to 'Back', rights_path %>
