<%= form_with(model: grant, local: true) do |form| %>
  <% if grant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grant.errors.count, "error") %> prohibited this grant from being saved:</h2>

      <ul>
      <% grant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :right_id %>
    <%= form.text_field :right_id %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.text_field :role_id %>
  </div>

  <div class="actions">
    <%= form.submit:data => { :disable_with => "Submitting ..." }, :class => "btn-default btn1" %>
  </div>
<% end %>
